/* Global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SanFranciscoRegular";
  src: url("https://cdn.glitch.global/f78a6fd5-e9c0-4ba0-89ea-effaa167feb1/SF-Pro-Display-Regular.woff2?v=1740589712383")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SanFranciscoItalic";
  src: url("https://cdn.glitch.global/f78a6fd5-e9c0-4ba0-89ea-effaa167feb1/SF-Pro-Display-RegularItalic.woff2?v=1740589721672")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.san-francisco {
  font-family: "SanFranciscoItalic", sans-serif; /* Här tilldelar vi fonten */
}

/* Body styling */
body {
  font-family: SanFranciscoRegular, sans-serif;
  background-color: #000000;
}

.logo-container {
  text-align: center; /* Centrerar innehållet horisontellt */
  padding: 40px 0; /* Ger lite utrymme runt logotypen */
  opacity: 0; /* Döljer initialt */
  animation: fadeInGrid 1s ease-in-out 2s forwards; /* Fade-in samtidigt som bilderna */
}

.logo-container img {
  width: 120px; /* Justera storleken på loggan */
  height: auto; /* Bevarar bildens proportioner */
}

.other-text {
  font-size: 10px;
  color: #ffffff;
  text-align: center;
  line-height: 15px;
  margin-top: 7px;
  font-family: SanFranciscoRegular, sans-serif;
  font-weight: normal;
}

.logo-text {
  font-size: 10px; /* Ändra storlek på texten */
  color: #ffffff; /* Ändra färg på texten */
  text-align: center; /* Säkerställer att texten är centrerad */
  line-height: 15px;
  margin-top: 7px; /* Skapar lite avstånd mellan loggan och texten */
  font-family: SanFranciscoBold, sans-serif; /* Använd ditt valda typsnitt */
  font-weight: bold;
}

.title-image {
  width: 60vw; /* Anpassa storleken, kan justeras efter behov */
  max-width: 500px; /* Begränsar storleken på stora skärmar */
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInOut 4s ease-in-out forwards;

  /* Centrering av headern */
  position: absolute;
  top: 50%; /* Vertikal centrering */
  left: 50%; /* Horisontell centrering */
  transform: translate(-50%, -50%); /* Justera för att verkligen centrera den */
}
/* Gallery container (initialt döljs) */
#gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 kolumner */
  grid-auto-rows: 1fr; /* Gör raderna lika höga som kolumnerna */
  grid-gap: 10px;
  padding: 10px;
  opacity: 0; /* Döljer griden initialt */
  animation: fadeInGrid 1s ease-in-out 4s forwards; /* Griden visas efter 2 sekunder */
  transition: transform 0.5s ease-out;

  max-width: 70%;
  margin: 0 auto;
  margin-top: 10vh;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Animation för fade-in för griden */
@keyframes fadeInGrid {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; /* Griden visas med opacity 1 */
  }
}

/* Bild animation för opacitet */
@keyframes fadeInDiagonal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 kolumner */
  grid-auto-rows: auto; /* Anpassar raderna automatiskt efter innehållet */
  grid-gap: 10px;
  padding: 5px;
  max-width: 70%;
  max-height: 70%;
  margin: 0 auto;
  margin-top: -1vh;
}

#gallery a img {
  width: 100%;
  aspect-ratio: 1 / 1; /* Tvingar kvadratisk form */
  object-fit: cover; /* Ser till att hela bilden täcker rutan utan att sträckas */
  border-radius: 8px;
  opacity: 0; /* Initialt osynlig */
  animation: fadeInDiagonal 5s ease-in-out forwards;
}

/* Hover effekt */
.gallery img:hover {
  transform: scale(1.1); /* Skalar upp bilden med 5% vid hover */
}

/* Lägg till individuell fördröjning för varje bild */
.gallery img:nth-child(1) {
  animation-delay: 0s !important;
  object-position: 9% 90%;
}
.gallery img:nth-child(2),
.gallery img:nth-child(11) {
  animation-delay: 0.4s !important;
  object-position: left center;
}
.gallery img:nth-child(3),
.gallery img:nth-child(12),
.gallery img:nth-child(21) {
  animation-delay: 0.8s !important;
  object-position: right center;
}
.gallery img:nth-child(4),
.gallery img:nth-child(13),
.gallery img:nth-child(22),
.gallery img:nth-child(31) {
  animation-delay: 1.2s !important;
  object-position: center bottom;
}
.gallery img:nth-child(5),
.gallery img:nth-child(14),
.gallery img:nth-child(23),
.gallery img:nth-child(32),
.gallery img:nth-child(41) {
  animation-delay: 1.6s !important;
  object-position: top left;
}
.gallery img:nth-child(6),
.gallery img:nth-child(15),
.gallery img:nth-child(24),
.gallery img:nth-child(33),
.gallery img:nth-child(42),
.gallery img:nth-child(50) {
  animation-delay: 2s !important;
  object-position: bottom right;
}
.gallery img:nth-child(7),
.gallery img:nth-child(16),
.gallery img:nth-child(25),
.gallery img:nth-child(34),
.gallery img:nth-child(43) {
  animation-delay: 2.4s !important;
  object-position: top right;
}
.gallery img:nth-child(8),
.gallery img:nth-child(17),
.gallery img:nth-child(26),
.gallery img:nth-child(35),
.gallery img:nth-child(44) {
  animation-delay: 2.8s !important;
  object-position: bottom left;
}
.gallery img:nth-child(9),
.gallery img:nth-child(18),
.gallery img:nth-child(27),
.gallery img:nth-child(36),
.gallery img:nth-child(45) {
  animation-delay: 3.2s !important;
  object-position: center;
}
.gallery img:nth-child(10),
.gallery img:nth-child(19),
.gallery img:nth-child(28),
.gallery img:nth-child(37),
.gallery img:nth-child(46) {
  animation-delay: 3.8s !important;
  object-position: top center;
}
.gallery img:nth-child(20),
.gallery img:nth-child(29),
.gallery img:nth-child(38),
.gallery img:nth-child(47) {
  animation-delay: 4.2 !important;
  object-position: top center;
}
.gallery img:nth-child(30),
.gallery img:nth-child(39),
.gallery img:nth-child(48) {
  animation-delay: 4.6s !important;
}
.gallery img:nth-child(40),
.gallery img:nth-child(49) {
  animation-delay: 5s !important;
}
.gallery img:nth-child(50) {
  animation-delay: 5.4s !important;
  object-position: 9% 90%;
}

@media (max-width: 768px) {
  body {
    overflow: auto; /* Möjliggör scrollning på hela sidan */
  }

  #gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 kolumner */
    grid-gap: 5px;
    margin-top: -1vh; /* Minska avståndet från logotyp och text */
    max-height: 90vh; /* Gör att man kan scrolla inom detta område */
  }
}

.lg-download {
  display: none !important;
}

.lg-item {
  opacity: 0;
  transition: opacity 0.8s ease-in-out !important;
}

.lg-item.lg-current {
  opacity: 1 !important;
}
